<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <%- include ('./partials/head.ejs') %>

    </head>
    <body>
    
        <nav>
            <div class="navbar">
                <a href='/'>OURLIST</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!-- <li><a href="/">Go Back</a></li> -->
                <!-- <li><a href="/posts/new">Create a New Listing!</a></li> -->
              </ul>
            </div>
          </nav>

          <main>
        <div class ='indexform'> 
            <p class ='headingtitle'> Choose a Category: </p>
        <div class='editformsection'>
       
                
                <a href="/posts" class='btn waves-effect waves-light'id='clbutton'>Posts</a>
           
                <a href='/books' class ='btn waves-effect waves-light'id='clbutton'>Books</a>
         
                <a href='/electronics' class='btn waves-effect waves-light'id='clbutton'>Electronics</a>
          
                <a href='/furniture' class='btn waves-effect waves-light'id='clbutton'>Furniture</a></li>
          
    </div>
</div>
</main>

<footer class="page-footer"id ='navbar'>
  <div class="container">
        Lead Developers: Jack Glazer & Nat Zeng
        </div>
      </div>
    </footer>
    
</body>
</html>