<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>
        <nav>

			<b>OURLIST</b>
            <form>
                <input type="button" value="Go back!" onclick="history.back()">
               </form>
            
            <ul>
				<li>
		    <!-- <form>
                <input type="button" value="Go back!" onclick="history.back()">
               </form> -->
			
               <a href="/posts/new">Create New Listing!</a>
            </li>
        </ul> 
        
		</nav>

    
        <nav>
        </nav>

        <div>
       <h3>Listings:</h3>
       <br>

       <% if(!posts.length) { %>
        <p>There is nothing for sale yet!</p>
        <% } %>

        <ul>
            <% posts.forEach(post => { %>
            <li>
                <a href="/posts/<%= post._id %>"> <%= post.title %></a>
            </li>
            <% })%>
        </ul>
        
        <script src="" async defer></script>
    </div>
    </body>
</html>