<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>
        <nav>
            <div class="navbar">
                <a href='/'>OURLIST</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Go Back</a></li>

                <li><a href="/gigs/new">Create a New Listing!</a></li>
              </ul>
            </div>
          </nav>

    
          <main>
            <div class ='indexform'> 
             <p class ='craigslist'> electronics listings: </p>
         <div class='editformsection' id ='postlistings'>
     
          
     
            <% if(!gigs.length) { %>
             <p>There is nothing for sale yet!</p>
             <% } %>
     
             <ul>
                 <% gigs.forEach(gigs => { %>
                 <li><span style ='color:grey'><%= gigs.createdAt.toLocaleDateString() %> </span>
                     <a style="color: blue" href="/gigs/<%= gigs._id %>"> <%= gigs.title%></a> 
     
                 </li>
                 <% })%>
             </ul>
         </main>

<footer class="page-footer"id ='navbar'>
    
          Lead Developers: Jack Glazer & Nat Zeng
          
        </div>
      </footer>

      
</div>
</div>


    </body>

</html>